<script src="/js/jquery-1.10.2.js"></script>

<span class="body">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Request Access</label>
      <div class="login-form">
        <div class="sign-in-htm">

          <form action="/auth/server-login" method="POST">

            <div class="group">
              <label for="user" class="label">Email</label>
              <input id="user" name="email" type="text" class="input">
              <span id="spanID"></span>
            </div>

            <div class="group">
              <label for="pass" class="label">Password</label>
              <input id="pass" name="password" type="password" class="input" data-type="password">
            </div>

            <div class="group">
              <input type="submit" class="button" value="Sign In">
            </div>

          </form>
        </div>

        <form>
          

          <div class="sign-up-htm">
            <div class="messageWrapper">
              <p class="message">

              </p>
            </div>
            <div class="group">
              <label for="client_name" class="label">Client Name</label>
              <input id="client_name" type="text" class="input" required>
            </div>
            <div class="group">
              <label for="email" class="label">Email</label>
              <input id="email" type="email" class="input" data-type="email" required>
            </div>
            <div class="group">
              <input type="submit" class="button" value="Request" id="submit">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-1">Already Client?</label>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>

</span>

<script>

  function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress)
  };
  $('#submit').click(function(e){
    

    let client_name = $('#client_name').val()
    let email       = $('#email').val()
    let message     = $('.message')

    if (client_name == '' || email == ''){
      message.text('Fields can not be empty please fill them all.')
    } else if (!isValidEmailAddress(email)){
      message.text('This is not a valid email addess, Please type a valid one.')
    } else {
      e.preventDefault()
      message.text('')
      $.ajax({
        type: 'POST',
        url: '/requestAccess',
        data: {
          client_name: client_name,
          email: email
        },
        success: function(data){
          message.text(data.message)
        },
        fail: function(){
          message.text('Fail')
        }
      })
    }

  }) 

  (function( $ ) {
    $.fn.readOnlySuffix = function(suffix) {
        return this.each(function() {
            var $this = $(this),
                suffixLength = suffix.length,
                oldValue = suffix,
                mouseIsDown = false;

            // Must be a text input or text area
            if (!($this.is(":text") || $this.tagName.toLowerCase() == "textarea")){
                return;
            }

            $this.val(suffix);

            $this.keydown(function(evt){
                if (mouseIsDown){
                    // Handle issue when cursor is dragged out of input and mouseup is not fired.
                    evt.preventDefault();
                    $this.trigger("mouseup");
                    return;
                }
                // Prevent keys that will delete the suffix
                var inputLength = this.value.length,
                    offset = inputLength - suffixLength;
                if ((evt.keyCode == 35 || evt.keyCode == 39 || evt.keyCode == 46) // Home, Right Arrow or Delete keys
                     && this.selectionStart >= offset) {
                    evt.preventDefault();
                }
            });

            $this.keyup(function(evt){
                // Prevent Select All
                var offset = this.value.length - suffixLength,
                    actualStart = this.selectionStart > offset ? offset : this.selectionStart,
                    actualEnd = this.selectionEnd > offset ? offset : this.selectionEnd;
                if (this.selectionStart != actualStart || this.selectionEnd != actualEnd){
                    this.setSelectionRange(actualStart, actualEnd);
                }
            });

            $this.mousedown(function(evt){
                oldValue = $this.val();
                mouseIsDown = true;
            });

            $this.mouseup(function(evt){
                var newValue = $this.val(),
                    offset = oldValue.length - suffixLength,
                    actualStart = this.selectionStart > offset ? offset : this.selectionStart,
                    actualEnd = this.selectionEnd > offset ? offset : this.selectionEnd;
                mouseIsDown = false;
                if (newValue != oldValue){
                    $this.val(oldValue);
                }
                if (this.selectionStart != actualStart || this.selectionEnd != actualEnd){
                    this.setSelectionRange(actualStart, actualEnd);
                }
            });
        });
    };
})( jQuery );

  // $('#user').val($('#user').val() + 'more text')

  let levari = '@levarilaw.com'
  $('#user').keyup(function(){
    $('#user').html(this.value + levari)
  })
  // $('#user').val(function(index, value) {
  //   return value + '@levarilaw.com'
  // })

</script>