<div class="content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12">
        <div class="card">
          <div class="header">

            <div class="row">
              <div class="col-md-10">
                <h4 class="title">Your Clients</h4>
                <p class="category">Here you will find all of your clients</p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info btn-fill pull-right" data-toggle="modal" data-backdrop="static" data-target="#addClientModal" id="addClientModalLink">
                  Add Client
                </button>

                <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModal">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addClientModal">Add Client</h5>
                    </div>
                    <div class="modal-body">
                      <form class="" action="/client/add-client" method="POST">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="companyName">Client Name</label>
                              <input type="text" class="form-control" placeholder="Client Name" name="companyName" id="companyName">
                            </div>
                          </div>
                        </div>

                        <input type="text" hidden name="id" value="<%=req.param('id')%>">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="pricePerHour">Price Per Hour</label>
                              <input type="text" class="form-control" placeholder="Price Per Hour" name="pricePerHour" id="pricePerHour">
                            </div>
                          </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Client Name</th>
                <th>Price per Hour</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <% for (var i=0 ; i<data.length ; i++) { %>
                  <tr>
                    <td><%= data[i].companyName %></td>
                    <td>$<%= data[i].pricePerHour %></td>
                    <td>
                      <a data-toggle="modal" data-backdrop="static" data-target="#editClientModal" href="#" id="editClientButton" onclick="edit_client_process(<%=data[i].id%>)">
                        Edit
                      </a>
                      /
                      <a href="#" data-href="/client/remove-client?id=<%=data[i].id%>&user_id=<%=req.param('id')%>" data-toggle="modal" data-target="#client-confirm-delete">
                        Delete
                      </a>
                    </td>
                  </tr>
                <% } %>

              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModal">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editClientModal">Edit Client</h5>
    </div>
    <div class="modal-body">

      <div class="col-md-12">
        <img src="/img/loading.gif" id="loading-indicator" style="display:none" />
      </div>

      <form class="" action="/client/edit-client" method="POST">

        <div class="row" id="companyNameArea">
          <div class="col-md-12">
            <div class="form-group">
              <label for="companyName">Client Name</label>
              <input type="text" class="form-control" value="" name="companyName" id="editClient_companyName">
            </div>
          </div>
        </div>

        <input type="text" hidden name="id" value="" id="editClient_id">
        <input type="text" hidden name="user_id" value="<%=req.param('id')%>">


        <div class="row" id="pricePerHourArea">
          <div class="col-md-12">
            <div class="form-group">
              <label for="pricePerHour">Price Per Hour</label>
              <input type="text" class="form-control" value="" name="pricePerHour" id="editClient_pricePerHour">
            </div>
          </div>
        </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
    </form>
  </div>
</div>
</div>


<div class="modal fade" id="client-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>IMPORTANT STEP AHEAD</strong>
      </div>
      <div class="modal-body">
        Are you sure? You are about to delete one of your clients.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<% flash.get('success').forEach(function (message) { %>
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap-notify.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $.notify({
        icon: 'pe-7s-bell',
        message: '<%= message %>'
      },{
        type: 'success',
        timer: 4000
      })
    })
  </script>
<% }) %>

<script src="/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
  function edit_client_process (id) {
    $.ajax({
      url: '/client/get-client?id=' + id,
      type: 'GET',
      beforeSend: function() {
        // TODO: show your spinner
        console.log('before sending')
        $('#loading-indicator').show()
        $('#companyNameArea').hide()
        $('#pricePerHourArea').hide()
      },
      complete: function() {
        $('#loading-indicator').hide()
        $('#companyNameArea').show()
        $('#pricePerHourArea').show()
      },
      success: function(result) {
        $('#editClient_companyName').attr({
          value: result.companyName
        })
        $('#editClient_pricePerHour').attr({
          value: result.pricePerHour
        })
        $('#editClient_id').attr({
          value: result.id
        })
      }
    })
  }
</script>
