<div class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-8">
            <div class="card ">
              <div class="header">
                <h4 class="title">Client Requests</h4>
                <p class="category">Here are all of clients requests</p>
              </div>
              <div class="content">
                <div class="table-full-width">
                  <table class="table">
                    <tbody>
                      <!-- <tr>
                        <td>
                          <label class="checkbox">
                            <input type="checkbox" value="" data-toggle="checkbox" checked="">
                          </label>
                        </td>
                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                          </button>
                        </td>
                      </tr> -->
                      <% if (data) {
                        for (var i=0 ; i<data.length ;i++) {
                      %>
                        <tr id="row<%=data[i].id%>">
                          <td><%= data[i].client_name %></td>
                          <td><%= data[i].email %></td>
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" title="Approve" class="btn btn-info btn-simple btn-xs" data-toggle="modal" data-backdrop="static" data-target="#grantClientModal<%= data[i].id %>" href="#" id="editClientButton">
                              <i class="fa fa-check"></i>
                            </button>
                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" onclick="removeRequest(<%= data[i].id %>)">
                              <i class="fa fa-times"></i>
                            </button>
                          </td>
                        </tr>


                        <div class="modal fade" id="grantClientModal<%= data[i].id %>" tabindex="-1" role="dialog" aria-labelledby="grantClientModal<%= data[i].id %>">
                          <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="grantClientModal<%= data[i].id %>">Adding Client</h5>
                            </div>
                            <div class="modal-body">
                        
                              <div class="col-md-12">
                                <img src="/img/loading.gif" id="loading-indicator" style="display:none" />
                              </div>
                        
                              <form class="" action="/request/grant-request" method="POST">
              
                                <input type="text" hidden name="user_id" value="<%=req.session.user_id ? req.session.user_id : req.session.client_id%>">
                                <input type="text" hidden name="email" value="<%= data[i].email %>">
                                <input type="text" hidden name="client_name" value="<%= data[i].client_name %>">
                                <input type="text" hidden name="id" value="<%= data[i].id %>">

                                <div class="row" id="pricePerHourArea">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label for="pricePerHour">Price Per Hour</label>
                                      <input type="text" class="form-control" value="" name="pricePerHour" id="editClient_pricePerHour">
                                    </div>
                                  </div>
                                </div>
                        
                        
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        </div>



                      <%
                        }
                      }
                      %>
                    </tbody>
                  </table>
                </div>

                <!-- <div class="footer">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                  </div>
                </div> -->
              </div>
            </div>
          </div>


          
          





          
          <!-- <div class="col-md-4">
            <div class="card">
              <div class="header">
                <h4 class="title">Users Behavior</h4>
                <p class="category">24 Hours performance</p>
              </div>
              <div class="content">
                <div id="chartHours" class="ct-chart"></div>
                <div class="footer">
                  <div class="legend">
                    <i class="fa fa-circle text-info"></i> Open
                    <i class="fa fa-circle text-danger"></i> Click
                    <i class="fa fa-circle text-warning"></i> Click Second Time
                  </div>
                  <hr>
                  <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>

        <!-- <div class="row">

          <div class="col-md-8">
            <div class="card ">
              <div class="header">
                <h4 class="title">2014 Sales</h4>
                <p class="category">All products including Taxes</p>
              </div>
              <div class="content">
                <div id="chartActivity" class="ct-chart"></div>

                <div class="footer">
                  <div class="legend">
                    <i class="fa fa-circle text-info"></i> Tesla Model S
                    <i class="fa fa-circle text-danger"></i> BMW 5 Series
                  </div>
                  <hr>
                  <div class="stats">
                    <i class="fa fa-check"></i> Data information certified
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="header">
                <h4 class="title">Email Statistics</h4>
                <p class="category">Last Campaign Performance</p>
              </div>
              <div class="content">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                <div class="footer">
                  <div class="legend">
                    <i class="fa fa-circle text-info"></i> Open
                    <i class="fa fa-circle text-danger"></i> Bounce
                    <i class="fa fa-circle text-warning"></i> Unsubscribe
                  </div>
                  <hr>
                  <div class="stats">
                    <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> -->

      </div>
    </div>

<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>

  function removeRequest(id) {
    $.ajax({
      type: 'POST',
      url: '/request/remove-request',
      data: {
        id: id
      },
      success: function(data){
        $("#row"+id).fadeOut()
      },
      fail: function(data){
      }
    })
  }

  io.socket.get('/socket/subscribe-requests')
  io.socket.on('request', function(request) {
    if (request.verb == 'created') {
      $.notify({
        // icon: '/images/noti.png',
        title: 'New Client Request',
        message: request.data.client_name + " wants to have access to the platform.",
        url: "/dashboard"
      }, {
        type: 'warning',
        delay: 5000,
        icon_type: 'image'
      })
    }
  })

</script>

<% flash.get('success').forEach(function (message) { %>
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap-notify.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $.notify({
        icon: 'pe-7s-bell',
        message: '<%= message %>'
      },{
        type: 'success',
        timer: 4000
      })
    })
  </script>
<% }) %>