<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Edit Profile</h4>
          </div>
          <div class="content">
            <form method="POST" action="/client/update-profile">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Levari Mail</label>
                    <input type="email" class="form-control" placeholder="Levari Mail" name="email" value="<%= data.email %>" disabled>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Official Mail</label>
                    <input type="email" class="form-control" placeholder="Email" name="contact_mail" value="<%= data.contact_mail %>">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="companyName" value="<%= data.companyName %>">
                  </div>
                </div>
              </div>

              <input type="text" name="id" hidden value="<%= req.param('id') %>">

              <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
          </div>
          <div class="content">
            <div class="author">
                <img class="avatar border-gray" src="/img/faces/face-0.jpg" alt="..."/>
                <h4 class="title"><%= data.companyName %><br />
                <small><%= data.email %></small>
                <hr>
                <small><strong>Lawyer: </strong><%= user.firstName %></small><br>
                <small><strong>email: </strong><%= user.email %></small>
                </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Change Password</h4>
          </div>
          <div class="content">
            <form method="POST" action="/client/update-password">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" required placeholder="Current Password" name="current_password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" required placeholder="New Password" name="new_password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" required placeholder="Confirm Password" name="confirm_password">
                  </div>
                </div>
              </div>

              <input type="text" name="id" hidden value="<%= req.param('id') %>">

              <button type="submit" class="btn btn-info btn-fill pull-right">Update Password</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<% flash.get('success').forEach(function (message) { %>
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/bootstrap-notify.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $.notify({
        icon: 'pe-7s-bell',
        message: '<%= message %>'
      },{
        type: 'success',
        timer: 4000
      })
    })
  </script>
<% }) %>
