<!DOCTYPE html>
<html>
<head>
  <title><%=typeof title == 'undefined' ? 'Levari Server' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

  <!--
  Stylesheets and Preprocessors
  ==============================

  You can always bring in CSS files manually with `<link>` tags, or asynchronously
  using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
  of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, stylesheets from your `assets/styles` folder are included
  here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
  are supported. In production, your styles will be minified and concatenated into
  a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

  + Change the order of your CSS files
  + Import stylesheets from other directories
  + Use a different or additional preprocessor, like SASS, SCSS or Stylus
-->

<!--STYLES-->
<link rel="stylesheet" href="/styles/404.css">
<link rel="stylesheet" href="/styles/animate.min.css">
<link rel="stylesheet" href="/styles/bootstrap-select.min.css">
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/custom.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/light-bootstrap-dashboard.css">
<link rel="stylesheet" href="/styles/login.css">
<link rel="stylesheet" href="/styles/pe-icon-7-stroke.css">
<!--STYLES END-->
</head>

<body>


  <div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="/img/sidebar-5.jpg">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="/client/home" class="simple-text">
            Levari's Server
          </a>
        </div>
        <ul class="nav">
          <li class="<%= (req.path == '/client/home') ? 'active' : '' %>">
            <a href="/client/home">
              <i class="pe-7s-home"></i>
              <p>Home</p>
            </a>
          </li>

          <li class="<%= (req.path == '/client/account') ? 'active' : '' %>">
            <a href="/client/account?id=<%= session.client_id %>">
              <i class="pe-7s-user"></i>
              <p>Account</p>
            </a>
          </li>

          <li class="<%= (req.path == '/client/hours') ? 'active' : '' %>">
            <a href="/client/hours?id=<%= session.client_id %>">
              <i class="pe-7s-user"></i>
              <p>Hours</p>
            </a>
          </li>

          <!-- <li class="active-pro">
            <a href="upgrade.html">
              <i class="pe-7s-rocket"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/client/home">
              <%= (req.path == '/client/home') ? 'Home' : '' %>
              <%= (req.path == '/client/account') ? 'Account' : '' %>
              <%= (req.path == '/client/hours') ? 'My Hours' : '' %>
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li>
                <a href="/client/home" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-dashboard"></i>
                  <p class="hidden-lg hidden-md">
                    <%= (req.path == '/client/home') ? 'Home' : '' %>
                    <%= (req.path == '/client/account') ? 'Account' : '' %>
                    <%= (req.path == '/client/hours') ? 'My Hours' : '' %>
                  </p>
                </a>
              </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/auth/server-logout">
                  <p>Log out</p>
                </a>
              </li>
              <li class="separator hidden-lg hidden-md"></li>
            </ul>

          </div>
        </div>
      </nav>

      <%- body %>

      <footer class="footer">
        <div class="container-fluid">
          <nav class="pull-left">
            <ul>
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              <li>
                <a href="/dashboard/profile?id=<%=session.user_id%>">
                  Profile
                </a>
              </li>
              <li>
                <a href="/dashboard/clients?id=<%=session.user_id%>">
                  Clients
                </a>
              </li>
            </ul>
          </nav>
          <p class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.levarilaw.com">Levari LLP</a>, made with love.
          </p>
        </div>
      </footer>

    </div>
  </div>




  <!--
  Client-side Templates
  ========================

  HTML templates are important prerequisites of modern, rich client applications.
  To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
  that you load these templates client-side.

  By default, your Gruntfile is configured to automatically load and precompile
  client-side JST templates in your `assets/templates` folder, then
  include them here automatically (between TEMPLATES and TEMPLATES END).

  To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

  + Import templates from other directories
  + Use a different template engine (handlebars, jade, dust, etc.)
  + Internationalize your client-side templates using a server-side
  stringfile before they're served.
-->

<!--TEMPLATES-->

<!--TEMPLATES END-->


<!--

Client-side Javascript
========================

You can always bring in JS files manually with `script` tags, or asynchronously
on the client using a solution like AMD (RequireJS).  Or, if you like, you can
take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

By default, files in your `assets/js` folder are included here
automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
CoffeeScript (.coffee) are supported. In production, your scripts will be minified
and concatenated into a single file.

To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
For example, here are a few things you could do:

+ Change the order of your scripts
+ Import scripts from other directories
+ Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-checkbox-radio-switch.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<script src="/js/light-bootstrap-dashboard.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/callbackHelpers.js"></script>
<!--SCRIPTS END-->
</body>
</html>
