<script src="/js/jquery-1.10.2.js"></script>
<div class="content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12">
        <div class="card">
          <div class="header">

            <div class="row">
              <div class="col-md-12">
                <h4 class="title">My Hours</h4>
                <p class="category">You can see your tracked hours from this page</p>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Client Name</th>
                <th>Price per Hour</th>
                <th>#hours</th>
                <th>Total Price</th>
                <th>Details</th>
                <th>Custom Price?</th>
                <th>Chargable?</th>
                <th>Lawyer</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <% for (var i=0 ; i<data.length ; i++) { %>
                  <script type="text/javascript">
                    $.ajax({
                      url: '/user/get-hour-user?id=<%=data[i].user%>',
                      type: 'GET',
                      beforeSend: function() {
                        // $('#loading-indicator').show()
                      },
                      complete: function() {
                        // $('#loading-indicator').hide()
                      },
                      success: function(result) {
                        $('#lawyer_name<%=data[i].id%>').text(result.firstName)
                      },
                      error: function(err) {
                      }
                    })
                  </script>
                  <tr>
                    <td><%= data[i].clientName %></td>
                    <td>$<%= data[i].pricePerHour %></td>
                    <td><%= data[i].numberOfHours %></td>
                    <td>$<%= data[i].totalPrice %></td>
                    <td>
                      <% if (data[i].details.length > 40) { %>
                        <%= data[i].details.substr(0, 40) %>..
                      <% } else { %>
                        <%= data[i].details %>
                      <% } %>
                    </td>
                    <td><%- data[i].priceCustom ? '<strong style="color: darkred">YES</strong>' : 'NO'%></td>
                    <td><%= data[i].chargable %></td>
                    <td id="lawyer_name<%=data[i].id%>"></td>
                    <td>
                      <a data-toggle="modal" data-backdrop="static" data-target="#hourDetailsModal" href="#" id="hourDetailsButton" onclick="hour_details(<%=data[i].id%>)">
                        <strong>Details</strong>
                      </a>
                    </td>
                  </tr>
                <% } %>

              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="hourDetailsModal" tabindex="-1" role="dialog" aria-labelledby="hourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong><span id="titleDetails"></span> Details</strong>
      </div>
      <div class="modal-body">

        <strong>Client Name: </strong> <span id="clientNameDetails"></span> <br>
        <strong>Price Per Hour: </strong> <span id="pricePerHourDetails"></span> <br>
        <strong>Duration: </strong> <span id="numberOfHoursDetails"></span> <br>
        <strong>Total Price: </strong> <span id="totalPriceDetails"></span> <br>
        <strong>Details: </strong> <span id="detailsDetails"></span> <br>
        <strong>Custom Price: </strong> <span id="customPriceDetails"></span> <br>
        <strong>Chragable: </strong> <span id="chargableDetails"></span> <br>
        <strong>Created At: </strong> <span id="createdAtDetails"></span> <br>
        <strong>Updated At: </strong> <span id="updatedAtDetails"></span> <br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
  function hour_details(id) {
    $.ajax({
      url: '/hour/get-hour?id=' + id,
      type: 'GET',
      beforeSend: function() {
        $('#loading-indicator').show()
      },
      complete: function() {
        $('#loading-indicator').hide()
      },
      success: function(result) {
        $('#clientNameDetails').text(result.clientName)
        $('#titleDetails').text(result.clientName)
        $('#pricePerHourDetails').text(result.pricePerHour)
        $('#numberOfHoursDetails').text(result.numberOfHours)
        $('#totalPriceDetails').text(result.totalPrice)
        $('#chargableDetails').text(result.chargable)
        $('#detailsDetails').text(result.details)
        $('#customPriceDetails').text(result.priceCustom)
        $('#createdAtDetails').text(result.createdAt)
        $('#updatedAtDetails').text(result.updatedAt)
      }
    })
  }
</script>
