<pre>
  <b>Code:</b> <%= code %>
  <b>Message:</b> <%= message %>
  <pre>
    <b>IN CASE YOU FACED THIS AGAIN AND AGAIN:</b> Copy the code up there and tell us about the problem scenario by dropping us a mail on <a href="mailto://oabuelmagd@levarilaw.com">oabuelmagd@levarilaw.com</a>
    or send reach us on <a href="http://www.levarilaw.com">www.levarilaw.com</a>
  </pre>
</pre>


