<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap-notify.js"></script>

<div class="content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12">
        <div class="card">
          <div class="header">

            <div class="row">
              <div class="col-md-10">
                <h4 class="title">All Clients</h4>
                <p class="category">All Levari Clients</p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info btn-fill pull-right" data-toggle="modal" data-backdrop="static" data-target="#addClientModal" id="addClientModalLink">
                  Add Client
                </button>

                <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModal">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addClientModal">Add Client</h5>
                    </div>
                    <div class="modal-body">
                      <form class="" action="/user/add_client" method="POST">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="companyName">Client Name</label>
                              <input type="text" class="form-control" placeholder="Client Name" name="companyName" id="companyName">
                            </div>
                          </div>
                        </div>

                        <input type="text" hidden name="id" value="<%=req.session.user_id%>">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="pricePerHour">Price Per Hour</label>
                              <input type="text" class="form-control" placeholder="Price Per Hour" name="pricePerHour" id="pricePerHour">
                            </div>
                          </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for client names..">              
            <table class="table table-hover table-striped" id="myTable">
              <thead class="header">
                <th>Name</th>
                <th>Price Per Hour</th>
                <th>Email</th>
                <th>Lawyer</th>
                <th>Password</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <% for (var i=0 ; i<data.length ; i++) { %>
                  <tr>
                    <td><%= data[i].companyName %></td>
                    <td><%= data[i].pricePerHour %></td>
                    <td><%= data[i].email %></td>

                    <% for (var j=0 ; j<users.length ; j++) {
                        if (users[j].id == data[i].user) { %>
                          <td><%= users[j].id == data[i].user ? users[j].firstName : '---' %></td>
                    <%  break } } %>

                    <td>
                      <a href="#" id="showButton<%= data[i].id %>">
                        Show Password
                      </a>
                      <span id="passwordPlace<%= data[i].id %>">

                      </span>
                      <span id="hideButton<%= data[i].id %>" style="color: red;">(<a href="#">Hide</a>)</span>

                      <script type="text/javascript">
                        $('#passwordPlace<%= data[i].id %>').hide()
                        $('#hideButton<%= data[i].id %>').hide()
                        $('#showButton<%= data[i].id %>').click(function() {
                          $.ajax({
                            url: '/auth/show-client-password',
                            type: 'POST',
                            data: {
                              id: <%= data[i].id %>
                            },
                            beforeSend: function() {

                            },
                            complete: function() {
                            },
                            success: function(result) {
                              $('#passwordPlace<%= data[i].id %>').text(result.password)
                              $('#passwordPlace<%= data[i].id %>').show()
                              $('#hideButton<%= data[i].id %>').show()
                              $('#showButton<%= data[i].id %>').hide()
                            },
                            error: function(err){
                            }
                          })
                        })

                        $('#hideButton<%= data[i].id %>').click(function() {
                          $('#passwordPlace<%= data[i].id %>').text('')
                          $('#passwordPlace<%= data[i].id %>').hide()
                          $('#showButton<%= data[i].id %>').show()
                          $('#hideButton<%= data[i].id %>').hide()
                        })
                      </script>
                    </td>

                    <td>
                      <a href="#" data-href="/user/remove-client?id=<%=data[i].id%>" data-toggle="modal" data-target="#user-confirm-delete">
                        Delete
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="user-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="hourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>IMPORTANT STEP AHEAD</strong>
      </div>
      <div class="modal-body">
        Are you sure? You are about to delete a user.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<% flash.get('success').forEach(function (message) { %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.notify({
        icon: 'pe-7s-bell',
        message: '<%- message %>'
      },{
        type: 'success',
        timer: 4000
      })
    })
  </script>
<% }) %>

<script>
  function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
</script>