<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap-notify.js"></script>

<div class="content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12">
        <div class="card">
          <div class="header">

            <div class="row">
              <div class="col-md-10">
                <h4 class="title">All Lawyers Hours</h4>
                <p class="category">You can see and manage all of lawyers hours</p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info btn-fill pull-right" data-toggle="modal" data-backdrop="static" data-target="#addUserModal" id="addUserModalLink">
                  Add User
                </button>

                <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addUserModal">Add User</h5>
                    </div>
                    <div class="modal-body">
                      <div id="errorContainer" role="alert">
                        <span id="ErrorMessage"></span>
                      </div>

                      <form class="" action="/user/add-user" method="POST" id="addUserAdminForm">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="firstName">Name</label>
                              <input type="text" class="form-control" placeholder="Name" name="firstName" id="firstName" required>
                            </div>
                          </div>
                        </div>

                        <input type="text" hidden name="id" value="<%=req.param('id')%>">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" placeholder="Email" name="email" id="email" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" placeholder="Username" name="username" id="username" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="passwordConfirm">Password Confirmation</label>
                              <input type="password" class="form-control" placeholder="Password Confirmation" name="passwordConfirm" id="passwordConfirm" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="type">Admin?</label>
                              <input type="checkbox" class="form-control" name="type" id="type">
                            </div>
                          </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                  </div>
                </div>
                </div>

              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <% for (var i=0 ; i<data.length ; i++) { %>
                  <tr>
                    <td>
                      <div class="btn-group" role="group">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%= data[i].firstName %>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="/dashboard/profile?id=<%= data[i].id %>">Edit Details</a></li>
                          <li><a href="/user/more-details?id=<%= data[i].id %>">More Details</a></li>
                        </ul>
                      </div>
                    </td>
                    <!-- <td><a href="/dashboard/profile?id=<%= data[i].id %>"><%= data[i].firstName %></a></td> -->
                    <td><%= data[i].email %></td>
                    <td><%= data[i].username %></td>
                    <td>
                      <a href="#" data-href="/user/remove-user?id=<%=data[i].id%>" data-toggle="modal" data-target="#user-confirm-delete">
                        Delete
                      </a>
                    </td>
                  </tr>
                <% } %>

              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="user-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="hourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>IMPORTANT STEP AHEAD</strong>
      </div>
      <div class="modal-body">
        Are you sure? You are about to delete a user.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<% flash.get('success').forEach(function (message) { %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.notify({
        icon: 'pe-7s-bell',
        message: '<%- message %>'
      },{
        type: 'success',
        timer: 4000
      })
    })
  </script>
<% }) %>

<script type="text/javascript">
  // $('#addUserAdminForm').submit(function(e) {
  //   $.ajax({
  //     url: '/user/add-user',
  //     type: 'POST',
  //     data: $('#addUserAdminForm').serialize(),
  //     beforeSend: function() {
  //
  //     },
  //     complete: function() {
  //
  //     },
  //     success: function(result) {
  //     //   if (result.status === 'ERROR') {
  //     //     $('#errorContainer').attr({
  //     //       class: 'alert alert-danger'
  //     //     })
  //     //     $('#ErrorMessage').text(result.message)
  //     //
  //     //     setTimeout(function(){
  //     //       $('#errorContainer').attr({
  //     //         class: ''
  //     //       })
  //     //       $('#ErrorMessage').text('')
  //     //     }, 3000)
  //     //   } else {
  //     //     $('#addUserModal').modal('hide')
  //     //     $.notify({
  //     //       icon: 'pe-7s-bell',
  //     //       message: result.message
  //     //     },{
  //     //       type: 'success',
  //     //       timer: 4000
  //     //     })
  //     //   }
  //     // }
  //   })
  //   e.preventDefault()
  // })
</script>
