<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<div class="content">
  <div class="container-fluid">
    <div class="row">


      <div class="col-md-12">
        <div class="card">
          <div class="header">

            <div class="row">
              <div class="col-md-10">
                <h4 class="title">More Details</h4>
                <p class="category">You can see and manage all of your tracked hours from this page</p>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info btn-fill pull-right" data-toggle="modal" data-backdrop="static" data-target="#addHourModal" id="addHourModalLink">Add Hour</button>

                <div class="modal fade" id="addHourModal" tabindex="-1" role="dialog" aria-labelledby="addHourModal">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addClientModal">Add Hour</h5>
                    </div>
                    <div class="modal-body">
                      <form class="" action="/hour/add-hour" method="POST">

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="companyName">Client Name</label>
                              <select name="clientName" class="select form-control" title="Client Name" id="clientName" required>
                                <% for (var i=0 ; i<companies.length ; i++) { %>
                                  <option><%= companies[i].companyName %></option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>

                        <input type="text" hidden name="id" value="<%=req.param('id')%>">



                        <div class="row">
                          <div class="col-md-10">
                            <div class="form-group">
                              <label for="pricePerHour">Price Per Hour</label>
                              <input type="text" class="form-control" placeholder="Price Per Hour" name="pricePerHour" id="pricePerHour" readOnly>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="customPrice"><small>Custom</small></label>
                              <input type="checkbox" class="form-control" name="customPrice" id="customPrice">
                            </div>
                          </div>
                        </div>

                        <script type="text/javascript">
                          $('#clientName').click(function() {
                            <% for (var i=0 ; i<companies.length ; i++) { %>
                                if ($('#clientName').val() === '<%= companies[i].companyName %>'){
                                  $('#pricePerHour').val('<%= companies[i].pricePerHour %>')
                                }
                            <% } %>
                          })
                          $('#customPrice').click(function() {
                            $('#pricePerHour').prop("readOnly") ? $('#pricePerHour').prop("readOnly", false) : $('#pricePerHour').prop("readOnly", true)
                          })
                        </script>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="pricePerHour">Number of Hours</label>
                              <input type="text" class="form-control" placeholder="1.5 for example" name="numberOfHours" id="numberOfHours" required>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="pricePerHour">Details</label>
                              <textarea class="form-control" id="details" name="details" rows="8" cols="80" required></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="pricePerHour">Chargable?</label>
                              <input type="checkbox" checked="true" class="form-control" name="chargable" id="chargable">
                            </div>
                          </div>
                        </div>



                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Client Name</th>
                <th>Price per Hour</th>
                <th>#hours</th>
                <th>Total Price</th>
                <th>Details</th>
                <th>Custom Price?</th>
                <th>Chargable?</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <% for (var i=0 ; i<data.length ; i++) { %>
                  <tr>
                    <td><%= data[i].clientName %></td>
                    <td>$<%= data[i].pricePerHour %></td>
                    <td><%= data[i].numberOfHours %></td>
                    <td>$<%= data[i].totalPrice %></td>
                    <td><%= data[i].details %></td>
                    <td><strong style="color: darkred"><%- data[i].priceCustom%></strong></td>
                    <td><%= data[i].chargable %></td>
                    <td>
                      <a data-toggle="modal" data-backdrop="static" data-target="#hourDetailsModal" href="#" id="hourDetailsButton" onclick="hour_details(<%=data[i].id%>)">
                        <strong>Details</strong>
                      </a>
                      /
                      <a data-toggle="modal" data-backdrop="static" data-target="#editHourModal" href="#" id="editHourButton" onclick="edit_hour_process(<%=data[i].id%>)">
                        Edit
                      </a>
                      /
                      <a href="#" data-href="/hour/remove-hour?id=<%=data[i].id%>&user_id=<%=req.param('id')%>" data-toggle="modal" data-target="#hour-confirm-delete">
                        Delete
                      </a>
                    </td>
                  </tr>
                <% } %>

              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="editHourModal" tabindex="-1" role="dialog" aria-labelledby="editHourModal">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editHourModal">Edit Hour</h5>
    </div>
    <div class="modal-body">

      <div class="col-md-12">
        <img src="/img/loading.gif" id="loading-indicator" style="display:none" />
      </div>

      <form class="" action="/hour/edit-hour" method="POST">

        <div class="row" id="clientNameArea">
          <div class="col-md-12">
            <div class="form-group">
              <label for="clientName">Client Name</label>
              <input type="text" class="form-control" value="" name="clientName" id="editHour_clientName">
            </div>
          </div>
        </div>

        <div class="row" id="pricePerHourArea">
          <div class="col-md-12">
            <div class="form-group">
              <label for="pricePerHour">Price Per Hour</label>
              <input type="text" class="form-control" value="" name="pricePerHour" id="editHour_pricePerHour">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="numberOfHours">Number of Hours</label>
              <input type="text" class="form-control" value="" name="numberOfHours" id="editHour_numberOfHours">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="details">Details</label>
              <textarea class="form-control" name="details" rows="8" cols="80" contenteditable="" id="editHour_details"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="chargable">Chargable?</label>
              <input type="checkbox" checked="" class="form-control" name="chargable" id="editHour_chargable">
            </div>
          </div>
        </div>

        <input type="text" hidden name="id" value="" id="editHour_id">
        <input type="text" hidden name="user_id" value="<%=req.param('id')%>">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Edit</button>
    </div>
    </form>
  </div>
</div>
</div>


<div class="modal fade" id="hour-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="hourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>IMPORTANT STEP AHEAD</strong>
      </div>
      <div class="modal-body">
        Are you sure? You are about to delete an hour.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="hourDetailsModal" tabindex="-1" role="dialog" aria-labelledby="hourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong><span id="titleDetails"></span> Details</strong>
      </div>
      <div class="modal-body">

        <strong>Client Name: </strong> <span id="clientNameDetails"></span> <br>
        <strong>Price Per Hour: </strong> <span id="pricePerHourDetails"></span> <br>
        <strong>Duration: </strong> <span id="numberOfHoursDetails"></span> <br>
        <strong>Total Price: </strong> <span id="totalPriceDetails"></span> <br>
        <strong>Details: </strong> <span id="detailsDetails"></span> <br>
        <strong>Custom Price: </strong> <span id="customPriceDetails"></span> <br>
        <strong>Chragable: </strong> <span id="chargableDetails"></span> <br>
        <strong>Created At: </strong> <span id="createdAtDetails"></span> <br>
        <strong>Updated At: </strong> <span id="updatedAtDetails"></span> <br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<% flash.get('success').forEach(function (message) { %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.notify({
        icon: 'pe-7s-bell',
        message: '<%= message %>'
      },{
        type: 'success',
        timer: 4000
      })
    })
  </script>
<% }) %>


<script type="text/javascript">
  function hour_details(id) {
    $.ajax({
      url: '/hour/get-hour?id=' + id,
      type: 'GET',
      beforeSend: function() {
        $('#loading-indicator').show()
      },
      complete: function() {
        $('#loading-indicator').hide()
      },
      success: function(result) {
        $('#clientNameDetails').text(result.clientName)
        $('#titleDetails').text(result.clientName)
        $('#pricePerHourDetails').text(result.pricePerHour)
        $('#numberOfHoursDetails').text(result.numberOfHours)
        $('#totalPriceDetails').text(result.totalPrice)
        $('#chargableDetails').text(result.chargable)
        $('#detailsDetails').text(result.details)
        $('#customPriceDetails').text(result.priceCustom)
        $('#createdAtDetails').text(result.createdAt)
        $('#updatedAtDetails').text(result.updatedAt)
      }
    })
  }

  function edit_hour_process (id) {
    $.ajax({
      url: '/hour/get-hour?id=' + id,
      type: 'GET',
      beforeSend: function() {
        // TODO: show your spinner
        console.log('before sending')
        $('#loading-indicator').show()
      },
      complete: function() {
        $('#loading-indicator').hide()
      },
      success: function(result) {
        $('#editHour_clientName').attr({
          value: result.clientName
        })
        $('#editHour_pricePerHour').attr({
          value: result.pricePerHour
        })
        $('#editHour_numberOfHours').attr({
          value: result.numberOfHours
        })
        $('#editHour_details').val(result.details)
        $('#editHour_chargable').attr({
          checked: result.chargable
        })
        $('#editHour_id').attr({
          value: result.id
        })
      }
    })
  }
</script>
